[phases.setup]
nixPkgs = ['maven', 'jdk17']

[phases.build]
cmds = ['mvn clean package -DskipTests']

[phases.deploy]
startCommand = 'java -Dserver.port=$PORT -Dspring.profiles.active=prod -jar target/devsync-0.0.1-SNAPSHOT.jar'
